<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ALL POSTS!</title>
  </head>
  <body>
    <%@posts.each do |post| %>
      <p><%=post.name%></p>
      <p><%=post.content%></p>
      <% end %>
  </body>
</html>
